$square-border-radius: 0.8rem;
$board-square-colour: #F5EBE0;
$board-border-colour: #DED6CE;
$player-x-colour: #fb6f92;
$player-o-colour: #a0c4ff;

.tic-tac-toe {
    .board {
        color: black;

        & .playerX {
            color: $player-x-colour;
        }

        & .playerO {
            color: $player-o-colour;
        }

        .reset-button {
            background: #fcf6bd;
            margin-bottom: 1rem;
            padding: 0.5rem;
            border-radius: 0.4rem;
        }

        .status {
            display: flex;
            color: white;
            margin-bottom: 1rem;
            font-weight: bold;
        }

        .board-rows {
            .board-row {
                display: flex;

                .square {
                    background: $board-square-colour;
                    border: 1px solid $board-border-colour;
                    padding: 1rem;
                    width: 60px;
                    height: 60px;
                    font-weight: bolder;
                    font-size: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:first-child {
                        border-left: 2px solid $board-border-colour;
                    }

                    &:last-child {
                        border-right: 2px solid $board-border-colour;
                    }
                }

                &:first-child {
                    .square {
                        border-top: 2px solid $board-border-colour;

                        &:first-child {
                            border-radius: $square-border-radius 0 0 0;
                        }

                        &:last-child {
                            border-radius: 0 $square-border-radius 0 0;
                        }
                    }
                }

                &:last-child {
                    .square {
                        border-bottom: 2px solid $board-border-colour;

                        &:first-child {
                            border-radius: 0 0 0 $square-border-radius;
                        }

                        &:last-child {
                            border-radius: 0 0 $square-border-radius 0;
                        }
                    }
                }
            }
        }
    }
}
